In [2]:
nombre = "Madrigal Urencio Ricardo \n"

In [3]:
dir_hdfs = "hdfs://namenode:9000/tmp/amd/locatellimpio"

In [4]:
df = spark.read.csv(dir_hdfs, header = True, inferSchema = True)

print(nombre)
df.printSchema()

Madrigal Urencio Ricardo

root
 |-- fecha_solicitud: date (nullable = true)
 |-- hora_solicitud: timestamp (nullable = true)
 |-- tema_solicitud: string (nullable = true)
 |-- sexo: string (nullable = true)
 |-- edad: double (nullable = true)
 |-- estatus: string (nullable = true)
 |-- alcaldia: string (nullable = true)
 |-- colonia_datos: string (nullable = true)
 |-- latitud: double (nullable = true)
 |-- longitud: double (nullable = true)
 |-- codigo_postal_solicitud: string (nullable = true)
 |-- d_codigo: integer (nullable = true)
 |-- D_mnpio: string (nullable = true)

In [6]:
spark.sql("show tables").show()

AnalysisException: org.apache.hadoop.hive.ql.metadata.HiveException: java.lang.RuntimeException: Unable to instantiate org.apache.hadoop.hive.ql.metadata.SessionHiveMetaStoreClient

In [7]:
df.createOrReplaceTempView("locatel")
spark.sql("show tables").show()

AnalysisException: org.apache.hadoop.hive.ql.metadata.HiveException: java.lang.RuntimeException: Unable to instantiate org.apache.hadoop.hive.ql.metadata.SessionHiveMetaStoreClient

In [ ]:
print(nombre)
spark.sql("describe locatel").show()

In [ ]:
spark.sql("select fecha_solicitud, edad, alcaldia from locatel").show(truncate = False)

In [ ]:
sqlstr = """select fecha_solicitud, edad, alcaldia
from locatel
where edad is not null
"""
spark.sql(sqlstr).show(truncate=False)

In [ ]:
sqlstr = """select count(*) nr from locatel"""
spark.sql(sqlstr).show(truncate=False)

In [ ]:
#Número de registros por sexo

sqlstr = """select sexo, count(*) nr 
from locatel
group by sexo
order by sexo
"""
spark.sql(sqlstr).show(truncate=False)

In [ ]:
#Número de registros por edad
campo = "edad"

sqlstr = f"""select {campo}, count(*) nr 
from locatel
group by {campo}
order by {campo} desc
"""
print(nombre)
spark.sql(sqlstr).show(10, truncate=False)

In [ ]:
#Número de registros por tema
campo = "tema_solicitud"

sqlstr = f"""select {campo}, count(*) nr 
from locatel
group by {campo}
order by nr desc 
limit 5
"""
print(nombre)
spark.sql(sqlstr).show(10, truncate=False)

In [ ]:
#Edad por campo
campo = "tema_solicitud"

sqlstr = f"""select {campo}, round(avg(edad), 2) edad_prom,
max(edad) edad_max, min(edad) edad_min, count(*) nr
from locatel
group by {campo}
order by {campo}
"""
print(nombre)
spark.sql(sqlstr).show(10, truncate=False)

In [ ]:
#Edad por campo
campo = "sexo"

sqlstr = f"""select {campo}, round(avg(edad), 2) edad_prom,
max(edad) edad_max, min(edad) edad_min, count(*) nr
from locatel
group by {campo}
order by {campo}
"""
print(nombre)
spark.sql(sqlstr).show(10, truncate=False)

In [ ]:
#Numero de registros por hora
campo = "hora"

sqlstr = f"""select HOUR(hora_solicitud) hora, count(*) nr
from locatel
group by HOUR(hora_solicitud)
order by 1
"""
print(nombre)
spark.sql(sqlstr).show(24, truncate=False)

In [ ]:
import matplotlib.pyplot as plt

import matplotlib.pyplot as plt
#Numero de registros por hora
sqlstr = f"""
    SELECT hora_solicitud hora, COUNT(*) nr
    FROM locatel
    GROUP BY hora_solicitud
    ORDER BY 1
"""
print(nombre)
dfh = spark.sql(sqlstr).toPandas()

plt.figure(figsize=(10,6))
#plt.bar(dfh['hora'], dfh['nr'])
plt.plot(dfh['hora'], dfh['nr'], marker='o', linestyle='-', color='r')

plt.xlabel('Hora del dia')
plt.ylabel('Numero de registros')
plt.title('Numero de registros por hora')

In [ ]:
spark.sql("SELECT hora_solicitud FROM locatel").show(10000, truncate = False)

In [ ]:
import matplotlib.pyplot as plt
#Numero de registros por hora
sqlstr = f"""
    SELECT SUBSTRING(hora_solicitud,15,2) hora, COUNT(*) nr
    FROM locatel
    GROUP BY SUBSTRING(hora_solicitud,15,2)
    ORDER BY 1
"""
print(nombre)
dfh = spark.sql(sqlstr).toPandas()

plt.figure(figsize=(10,6))
plt.bar(dfh['hora'], dfh['nr'])
#plt.plot(dfh['hora'], dfh['nr'], marker='o', linestyle='-', color='r')

plt.xlabel('HORA DEL DIA')
plt.ylabel('NUMERO DE REGISTROS')
plt.title('NUMERO DE REGISTROS POR HORA')

In [ ]:
#Numero de registros por hora
sqlstr = f"""
    SELECT YEAR(fecha_solicitud) anio, COUNT(*) nr
    FROM locatel
    GROUP BY anio
    ORDER BY 1
"""
print(nombre)
dfh = spark.sql(sqlstr).show(30, truncate=False)

In [ ]:
#Numero de registros por hora
sqlstr = f"""
    SELECT YEAR(fecha_solicitud) anio, COUNT(*) nr
    FROM locatel
    GROUP BY anio
    ORDER BY 1
"""
print(nombre)
dfh = spark.sql(sqlstr).toPandas()

plt.figure(figsize=(10,6))
plt.bar(dfh['anio'], dfh['nr'])

plt.xlabel('AÑO')
plt.ylabel('NUMERO DE REGISTROS')
plt.title('NUMERO DE REGISTROS POR AÑO')

In [ ]:
#Numero de registros por hora
sqlstr = f"""
    SELECT YEAR(fecha_solicitud) anio, sexo, COUNT(*) nr
    FROM locatel
    GROUP BY anio, sexo
    ORDER BY 1
"""
print(nombre)
dfh = spark.sql(sqlstr).show(100, truncate=False)

In [ ]:
#Numero de registros por hora
sqlstr = f"""
    SELECT anio,
    SUM(CASE WHEN sexo='FEMENINO' THEN nr ELSE 0 END) AS FEMENINO,
    SUM(CASE WHEN sexo='MASCULINO' THEN nr ELSE 0 END) AS MASCULINO,
    SUM(CASE WHEN sexo IN('NA', 'NO ESPECIFICADO') THEN nr ELSE 0 END) AS NO_ESPECIFICADO
    FROM (    
        SELECT YEAR(fecha_solicitud) anio, sexo, COUNT(*) nr
        FROM locatel
        GROUP BY anio, sexo
    ) d
    GROUP BY anio
    ORDER BY 1
"""
print(nombre)
dfh = spark.sql(sqlstr).show(100, truncate=False)

In [ ]:
#Numero de registros por hora
sqlstr = f"""
    SELECT anio,
    SUM(CASE WHEN sexo='FEMENINO' THEN nr ELSE 0 END) AS FEMENINO,
    SUM(CASE WHEN sexo='MASCULINO' THEN nr ELSE 0 END) AS MASCULINO,
    SUM(CASE WHEN sexo IN('NA', 'NO ESPECIFICADO') THEN nr ELSE 0 END) AS NO_ESPECIFICADO
    FROM (    
        SELECT YEAR(fecha_solicitud) anio, sexo, COUNT(*) nr
        FROM locatel
        GROUP BY anio, sexo
    ) d
    GROUP BY anio
    ORDER BY 1
"""
print(nombre)
dfh = spark.sql(sqlstr).toPandas()\
    .set_index('anio')[['FEMENINO', 'MASCULINO', 'NO_ESPECIFICADO']]\
    .plot(kind='bar', stacked=False, figsize=(10,6))

plt.xlabel('AÑO')
plt.ylabel('NUMERO DE REGISTROS')
plt.title('NUMERO DE REGISTROS POR AÑO POR SEXO') 
plt.xticks(rotation=45)

plt.show()

In [ ]:
#Numero de registros por hora
sqlstr = f"""
    SELECT anio,
    SUM(CASE WHEN sexo='FEMENINO' THEN nr ELSE 0 END) AS FEMENINO,
    SUM(CASE WHEN sexo='MASCULINO' THEN nr ELSE 0 END) AS MASCULINO,
    SUM(CASE WHEN sexo IN('NA', 'NO ESPECIFICADO') THEN nr ELSE 0 END) AS NO_ESPECIFICADO
    FROM (    
        SELECT YEAR(fecha_solicitud) anio, sexo, COUNT(*) nr
        FROM locatel
        GROUP BY anio, sexo
    ) d
    GROUP BY anio
    ORDER BY 1
"""
print(nombre)
spark.sql(sqlstr)\
    .write.mode("append")\
    .save("hdfs://namenode:9000/tmp/amd/locatelanio")