In [1]:
nombre = "\n Ricardo Madrigal Urencio \n"
print(nombre)

 Ricardo Madrigal Urencio

In [2]:
dir_hdfs = "hdfs://namenode:9000/tmp/amd/ecobicilimpio"

df = spark.read.csv(dir_hdfs, header = True, inferSchema = True)

print(nombre)
df.printSchema()

 Ricardo Madrigal Urencio

root
 |-- Genero_Usuario: string (nullable = true)
 |-- Edad_Usuario: double (nullable = true)
 |-- Bici: integer (nullable = true)
 |-- Ciclo_Estacion_Retiro: integer (nullable = true)
 |-- dia_sem_retiro: string (nullable = true)
 |-- num_dia_retiro: integer (nullable = true)
 |-- num_mes_retiro: integer (nullable = true)
 |-- mes_retiro: string (nullable = true)
 |-- anio_retiro: integer (nullable = true)
 |-- hora_retiro: integer (nullable = true)
 |-- minuto_retiro: integer (nullable = true)
 |-- segundo_retiro: integer (nullable = true)
 |-- Ciclo_Estacion_Arribo: integer (nullable = true)
 |-- dia_sem_arribo: string (nullable = true)
 |-- num_dia_arribo: integer (nullable = true)
 |-- num_mes_arribo: integer (nullable = true)
 |-- mes_arribo: string (nullable = true)
 |-- anio_arribo: integer (nullable = true)
 |-- hora_arribo: integer (nullable = true)
 |-- minuto_arribo: integer (nullable = true)
 |-- segundo_arribo: integer (nullable = true)

In [3]:
spark.sql("show tables").show()

df.createOrReplaceTempView("ecobici")
spark.sql("show tables").show()

+---------+---------+-----------+
|namespace|tableName|isTemporary|
+---------+---------+-----------+
+---------+---------+-----------+

+---------+---------+-----------+
|namespace|tableName|isTemporary|
+---------+---------+-----------+
|         |  ecobici|       true|
+---------+---------+-----------+

In [4]:
print(nombre)
spark.sql("describe ecobici").show()

 Ricardo Madrigal Urencio

+--------------------+---------+-------+
|            col_name|data_type|comment|
+--------------------+---------+-------+
|      Genero_Usuario|   string|   NULL|
|        Edad_Usuario|   double|   NULL|
|                Bici|      int|   NULL|
|Ciclo_Estacion_Re...|      int|   NULL|
|      dia_sem_retiro|   string|   NULL|
|      num_dia_retiro|      int|   NULL|
|      num_mes_retiro|      int|   NULL|
|          mes_retiro|   string|   NULL|
|         anio_retiro|      int|   NULL|
|         hora_retiro|      int|   NULL|
|       minuto_retiro|      int|   NULL|
|      segundo_retiro|      int|   NULL|
|Ciclo_Estacion_Ar...|      int|   NULL|
|      dia_sem_arribo|   string|   NULL|
|      num_dia_arribo|      int|   NULL|
|      num_mes_arribo|      int|   NULL|
|          mes_arribo|   string|   NULL|
|         anio_arribo|      int|   NULL|
|         hora_arribo|      int|   NULL|
|       minuto_arribo|      int|   NULL|
+--------------------+---------+-------+
only showing top 20 rows

In [26]:
#Mostar las 10 estaciones con mayores viajes de inicio

campo = "Ciclo_Estacion_Retiro"

print(nombre)

sqlstr = f"""select {campo} estacion_inicio, count(*) viajes_realizados
from ecobici
group by {campo} 
order by viajes_realizados desc
"""
spark.sql(sqlstr).show(10, truncate=False)

 Ricardo Madrigal Urencio

+---------------+-----------------+
|estacion_inicio|viajes_realizados|
+---------------+-----------------+
|271            |80802            |
|27             |70205            |
|1              |66958            |
|64             |51541            |
|182            |51433            |
|266            |49836            |
|18             |49528            |
|36             |49433            |
|41             |47492            |
|43             |45540            |
+---------------+-----------------+
only showing top 10 rows

In [27]:
#Mostrar las 5 horas con mayor demanda

campo = "hora_retiro"
campo2 = "hora_arribo"

print(nombre)

print("Mayor Demanda de Retiros")
sqlstr = f"""select {campo}, count(*) viajes_realizados
from ecobici
group by {campo}
order by viajes_realizados desc
"""
spark.sql(sqlstr).show(5, truncate=False)

print("Mayor Demanda de Arribos")
sqlstr = f"""select {campo2}, count(*) viajes_realizados
from ecobici
group by {campo2}
order by viajes_realizados desc
"""
spark.sql(sqlstr).show(5, truncate=False)

 Ricardo Madrigal Urencio

Mayor Demanda de Retiros
+-----------+-----------------+
|hora_retiro|viajes_realizados|
+-----------+-----------------+
|8          |777781           |
|18         |764745           |
|19         |589075           |
|9          |580670           |
|17         |556563           |
+-----------+-----------------+
only showing top 5 rows

Mayor Demanda de Arribos
+-----------+-----------------+
|hora_arribo|viajes_realizados|
+-----------+-----------------+
|18         |732208           |
|8          |712740           |
|9          |666475           |
|19         |649037           |
|14         |522642           |
+-----------+-----------------+
only showing top 5 rows

In [28]:
#Mostrar el d√≠a de la semana con menor demanda
campo = "dia_sem_retiro"
campo2 = "dia_sem_arribo"


print(nombre)


print("Dia con Menor Demanda de Retiros")
sqlstr = f"""select {campo}, count(*) viajes_realizados
from ecobici
group by {campo}
order by viajes_realizados asc
"""
spark.sql(sqlstr).show(1, truncate=False)

print("Dia con Menor Demanda de Arribos")
sqlstr = f"""select {campo2}, count(*) viajes_realizados
from ecobici where {campo2} is not null
group by {campo2}
order by viajes_realizados asc
"""
spark.sql(sqlstr).show(1, truncate=False)

 Ricardo Madrigal Urencio

Dia con Menor Demanda de Retiros
+--------------+-----------------+
|dia_sem_retiro|viajes_realizados|
+--------------+-----------------+
|Sunday        |500866           |
+--------------+-----------------+
only showing top 1 row

Dia con Menor Demanda de Arribos
+--------------+-----------------+
|dia_sem_arribo|viajes_realizados|
+--------------+-----------------+
|Sunday        |501723           |
+--------------+-----------------+
only showing top 1 row